<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>wifianalyzer</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-app-bar color="primary" dense dark app>

                        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

                        <v-toolbar-title>wifiAnalyzer</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <v-btn icon>
                            <v-icon>mdi-magnify</v-icon>
                        </v-btn>
                    </v-app-bar>

                    <v-navigation-drawer v-model="drawer" absolute temporary app dark>
                        <v-list>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
                                </v-list-item-avatar>
                            </v-list-item>

                            <v-list-item link>
                                <v-list-item-content>
                                    <v-list-item-title class="title">Hancock</v-list-item-title>
                                    <v-list-item-subtitle>hancock@hancock.com</v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-icon>mdi-menu-down</v-icon>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <v-divider></v-divider>
                        <v-list nav dense>
                            <v-list-item-group>
                                <v-list-item >
                                    <v-list-item-icon>
                                        <v-icon>mdi-home</v-icon>
                                    </v-list-item-icon>

                                    <v-list-item-content>
                                        <v-list-item-title>Inicio</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-navigation-drawer>
                    <v-row>
                        <v-col cols="12" md="6">
                            <v-card v-model="datos" v-for="dato in datos" v-if="dato.id == cantidadDatos-1" :key="dato.id" class="mb-3">
                                <v-card-text>
                                    <v-chip label color="secondary">
                                        <v-icon left>mdi-antenna</v-icon>
                                        {{ dato.Tarjeta }}
                                    </v-chip>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            ESSID: {{ dato.ESSID }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            AccessPoint: {{ dato.AccessPoint }}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            IEEE: {{ dato.IEEE }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Mode: {{ dato.Manage }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Frequency: {{ dato.Frequency }} GHz
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            BitRate: {{ dato.BitRate }} {{ dato.Velocidad }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Tx-power: {{ dato.TxPower }} dBm
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            RetryShortLimit: {{ dato.RetryShortLimit }}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            RTS thr: {{ dato.RTSThr }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Fragment thr: {{ dato.FragmentThr }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Link quality: {{ dato.LinkQuality }}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Signal level: {{ dato.SignalLevel }} dBm
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Rx invalid nwid: {{ dato.RxInvalidNwind }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Rx invalid crypt: {{ dato.RxInvalidCrypt }}
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <v-icon></v-icon>
                                            RxInvalidFrag: {{ dato.ManRxInvalidFragage }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Tx excessive retries: {{ dato.TxExcessiveRetries }}
                                        </v-col>
                                        <v-col>
                                            <v-icon></v-icon>
                                            Invalid misc: {{ dato.InvalidMisc }}
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-card>
                                <v-card-text>
                                    <canvas id="myLineChart"></canvas>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                    drawer: false,
                    cantidadDatos: 0,
                    datos:[]
            },
            created: function(){
                this.mostrarDatos();
            },
            methods:{
                mostrarDatos:function(){
                    axios.get("http://localhost/wifianalyzer/api")
                    .then(response => {
                        app.cantidadDatos = response.data.detalle.length
                        app.datos=response.data.detalle
                    })
                }
            }
        });
    </script>
</body>

</html>
|